extends base.pug

block scripts
  script(src='/static/index.js')
block style
    style
      include ../static/style.css
block content
    
    section#introSection
        div Welcome to Radiant Dance Academy
        div.small Eat Sleep Dance Repeat

    section#missionSection
        h2 Our Mission
        div.card
          h3 Dance Perfection
            div.card-box
              div.card-img
                img(src="/static/dance2.png")
              div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, similique?
        div.card
          h3 Expert Guidance
             div.card-box
              div.card-img
                img(src="/static/dance1.png")
              div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, similique?
        div.card
          h3 Dance the way you like
             div.card-box
              div.card-img
                img(src="/static/dance2.png")
              div.card-content
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, similique?

    section#sponserSection
        h2 Our Sponsers
        div#sponsers
          img(src="/static/sponser.jpg", alt="sponser1" id="spImage")
          img(src="/static/sponser1.png", alt="sponser2" id="spImage")
          img(src="/static/sponser2.png", alt="sponser3" id="spImage")
          img(src="/static/sponser3.png", alt="sponser4" id="spImage")

    
   
    